.photo-grid{
    display: grid;
    margin: 0 auto;
    width:calc(100% - 96px);
    grid-gap: 16px;
    grid-template-columns: repeat(4, auto);
}

@media  screen and (max-width: 968px) {
    .photo-grid{
        grid-template-columns: repeat(2, auto);
        width:calc(100% - 48px);
    }   
}

@media screen and (max-width: 560px) {
    .photo-grid{
        grid-template-columns: repeat(1, auto);
        width:calc(100% - 32px);
        grid-row-gap: 12px;
    }

    
}