.cover{
    width: calc(100% - 96px);
    min-height: 740px;
    margin: 0 auto;
    position: relative;
    display: flex;
    background: #2A2C2F;
    opacity: 0.8;
}

@media  screen and (max-width: 968px) {
    .cover{
        width: 100%;
        min-height: 746px;
    }   
}

@media screen and (max-width: 560px) {
    .cover{
        min-height: 254px;
    }
}